﻿<script type="text/html" id="search-template">
    <div class="row">
        <div class="nopadding search-section col-lg-12">
            <input class="form-control form-control-lg" type="search"
                   data-bind="value: $data.searchQuery().SearchValue, attr:{placeholder: App.Service.locResources['Search']}">
        </div>     
    </div>
    <hr class="top-hr" />
</script>
