﻿<script type="text/html" id="single-file-cabinet-template">
    <tr data-bind="initComponent">
        <td class="name-table-data" data-bind="text: Name, click: $parents[1].openFileCabinet.bind($parents[1], $data)"></td>
        <!-- ko ifnot: $parent.currentUser().Role.Name === UserRoles.Guest -->
        <td class="options-td">
            <span class="delete-action action-icon f-right"
                  data-bind="click: $parents[1].openConfirmModal.bind($parents[1], 'DeleteFcModalTitle',
                  'DeleteFcModalQuestion', $parent.deleteFileCabinet.bind($parent, $data),
                   Name())">
                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" 
                       data-bind="attr:{'data-original-title': App.Service.locResources['DeleteFcModalTitle']}"></i>
            </span>
            <span class="edit-action action-icon f-right" data-bind="click: $parent.openFcModal.bind($parent)" 
                  data-target="#file-cabinet-modal" data-toggle="modal">
                <i class="fas fa-edit" data-toggle="tooltip" data-placement="left" 
                        data-bind="attr:{'data-original-title': App.Service.locResources['EditFcTitle']}"></i>
            </span>
        </td>
        <!-- /ko -->
    </tr>
</script>

