﻿<script type="text/html" id="single-document-template">
    <tr data-bind="initComponent">
        <!--ko if: $parent.shouldBeActive() || (($parent.isArchive() || $parent.isTrash()) && $parent.isAdmin())  -->
        <td>
            <input type="checkbox" data-bind="click: $parent.modifySelection.bind($parent), checked: isChecked()" />
        </td>
        <!-- /ko -->
        <td class="name-table-data" data-toggle="modal" data-target="#view-document-modal" data-bind="click: $parent.openFileView.bind($parent)">
            <span data-toggle="tooltip" data-placement="top" 
                       data-bind="attr:{'data-original-title': App.Service.locResources['EditView']},text: Name"></span>
        </td>
        <td data-bind="text: Type().Name"></td>
        <td data-bind="text: StoreDate().toLocaleDateString()"></td>
        <td data-bind="text: Owner"></td>
        <td data-bind="text: Subject"></td>
        <td data-bind="text: Company"></td>
        <!-- ko if: $parent.shouldBeActive() -->
        <td class="options-td aligncenter">
            <span class="action-icon archive-action"
                  data-bind="click: $parents[1].openConfirmModal.bind($parents[1], 'ArchivateDocModalTitle',
                  'ArchivateDocModalQuestion', $parent.archivateDocument.bind($parent, $data),
                  Name())">
                <i class="fas fa-database" data-toggle="tooltip" data-placement="left"
                        data-bind="attr:{'data-original-title': App.Service.locResources['ArchivateDocModalTitle']}"></i>
            </span>
            <span class="action-icon">
                <a data-bind="attr: {href: App.Service.endpoints.getFile + '?guid=' + Guid }" class="download-action">
                    <i class="fas fa-download" data-toggle="tooltip" data-placement="top" 
                        data-bind="attr:{'data-original-title': App.Service.locResources['DownloadFile']}"></i>
                </a>
            </span>
            <span class="action-icon export-action" data-bind="click: $parent.setExportModalData.bind($parent, [$data.Guid]), 
                  setModalSubmitCallback: {modalSelector: '#export-document-modal', cb: $parent.exportDocuments, ctx: $parent }">
                <i class="fas fa-file-archive" data-toggle="tooltip" data-placement="top" 
                        data-bind="attr:{'data-original-title': App.Service.locResources['ExportSingle']}"></i>
            </span>
            <span class="action-icon copy-action" data-toggle="modal" data-target="#add-document-modal" 
                  data-bind="click: $parent.openSaveNewDocumentForm.bind($parent, true, $data)">
                <i class="fas fa-copy" data-toggle="tooltip" data-placement="top" 
                       data-bind="attr:{'data-original-title': App.Service.locResources['CopyTitle']}"></i>
            </span>
            <span class="action-icon edit-action" data-toggle="modal" data-target="#view-document-modal" data-bind="click: $parent.openFileView.bind($parent)">
                <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" 
                       data-bind="attr:{'data-original-title': App.Service.locResources['EditView']}"></i>
            </span>
            <span class="action-icon delete-action"
                  data-bind="click: $parents[1].openConfirmModal.bind($parents[1], 'DeleteDocModalTitle',
                  'DeleteDocModalQuestion', $parent.deleteDocuments.bind($parent, [$data.Guid]),
                  Name())">
                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" 
                       data-bind="attr:{'data-original-title': App.Service.locResources['DeleteDocModalTitle']}"></i>
            </span>
        </td>
        <!-- /ko -->
        <!--ko if: $parent.isAdmin() && ($parent.isArchive() || $parent.isTrash()) -->
        <td class="options-td aligncenter">
            <span class="action-icon restore-action"
                  data-bind="click: $parent.isArchive()
                  ? $parents[1].openConfirmModal.bind($parents[1], 'RestoreArchiveTitle',
                  'RestoreArchiveQuestion', $parent.restoreArchivedDocuments.bind($parent, [$data.Guid]), Name())
                  : $parents[1].openConfirmModal.bind($parents[1], 'RestoreDeletedTitle',
                   'RestoreDeletedQuestion', $parent.restoreDeletedDocuments.bind($parent, [$data.Guid]), Name())">

                <i class="fas fa-undo-alt" data-toggle="tooltip" data-placement="top" 
                        data-bind="attr:{'data-original-title': App.Service.locResources['Restore']}"></i>
            </span>
        </td>
        <!-- /ko -->
    </tr>
</script>
