﻿<script type="text/html" id="documents-template" >
    <div id="documents-root" data-bind="initComponent">
        <!-- ko template: {name: 'search-template'}-->
        <!-- /ko -->
        <div class="row information-row">
            <div class="col-lg-7">
                <span class="action-icon back-action" data-bind="click: $parent.openFcList.bind($parent)">
                    <i class="fas fa-arrow-circle-left"></i>
                </span>
                <h3 data-bind="text: sectionTitle"></h3>
                <!-- ko if: shouldBeActive() -->
                <span class="add-action action-icon" data-toggle="modal" data-target="#add-document-modal"
                      data-bind="click: openSaveNewDocumentForm.bind($data, false)">
                    <i class="fas fa-plus-square" data-toggle="tooltip" data-placement="top" 
                       data-bind="attr: {'data-original-title': App.Service.locResources['AddDocumentTitle']}"></i>
                </span>
                <span class="import-action action-icon" data-toggle="modal" data-target="#import-documents-modal">
                    <i class="fas fa-file-import" data-toggle="tooltip" data-placement="right" 
                       data-bind="attr: {'data-original-title': App.Service.locResources['ImportDocsTitle']}"></i>
                </span>
                <!-- /ko -->
            </div>
            <div class="col-lg-5 general-actions">
                <!-- ko if: shouldBeActive() -->
                <span class="action-icon delete-action"
                      data-bind="click: $parent.openConfirmModal.bind($parent, 'DeleteFcModalTitle',
                            'DeleteFcModalQuestion', $parent.deleteFileCabinetFromDocView.bind($parent, currentFileCabinet),
                            currentFileCabinet.Name)">
                    <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" 
                       data-bind="attr: {'data-original-title': App.Service.locResources['DeleteFcModalTitle']}"></i>
                </span>
                <!-- ko if: documents().length > 0 -->
                <span class="action-icon export-action" data-toggle="modal" data-target="#export-document-modal"
                      data-bind="click: setArchiveName.bind($data, currentFileCabinet.Name),
                                setModalSubmitCallback: {modalSelector: '#export-document-modal', cb: exportCurrentFileCabinet, ctx: $data}">
                    <i class="fas fa-file-archive" data-toggle="tooltip" data-placement="top" 
                      data-bind="attr: {'data-original-title': App.Service.locResources['ExportFcTitle']}"></i>
                </span>
                <span class="action-icon archive-action"
                      data-bind="click: $parent.openConfirmModal.bind($parent, 'ArchivateFcModalTitle',
                                'ArchivateFcModalQuestion',  archivateCurrentFileCabinet.bind($data),
                                currentFileCabinet.Name)">
                    <i class="fas fa-database" data-toggle="tooltip" data-placement="left" 
                      data-bind="attr: {'data-original-title': App.Service.locResources['ArchivateFcModalTitle']}"></i>
                </span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: (isArchive() || isTrash()) && isAdmin() && documents().length > 0 -->
                <span class="action-icon restore-action"
                      data-bind="click: isTrash()
                            ? $parent.openConfirmModal.bind($parent, 'RestoreAllTitle',
                            'RestoreAllQuestion', restoreAllDeletedDocuments.bind($data), null)
                            : $parent.openConfirmModal.bind($parent, 'RestoreAllTitle',
                            'RestoreAllQuestion', restoreAllArchivedDocuments.bind($data), null)">

                    <i class="fas fa-undo-alt" data-toggle="tooltip" data-placement="left" 
                       data-bind="attr: {'data-original-title': App.Service.locResources['RestoreAllTitle']}"></i>
                </span>
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <table class="table table-hover documents-table">
                <thead>
                    <tr>
                        <!--ko if: shouldBeActive() || ((isArchive() || isTrash()) && isAdmin())  -->
                        <th>
                            <input type="checkbox" data-bind=" checked: isAllChecked, click: toggleAll" />
                        </th>
                        <!-- /ko -->
                        <th class='sort-th' data-bind="click: sortByProperty.bind($data, 'Name'),
                                                       css: {'sort-field': searchQuery().SortProperty() === 'Name'}">
                            <span data-bind="text: App.Service.locResources['NameLabel']"></span>
                            <!--ko if: searchQuery().SortProperty() === 'Name' -->
                            <i class="fas fa-long-arrow-alt-up" data-bind="visible: searchQuery().IsAscending() === true"></i>
                            <i class="fas fa-long-arrow-alt-down" data-bind="visible: searchQuery().IsAscending() === false"></i>
                            <!-- /ko -->
                        </th>
                        <th>
                            <select class="form-control "
                                    data-bind="options: App.Service.dataMapper.documentTypes,
                            optionsText: 'Name',
                            optionsValue: 'Guid',
                            optionsCaption: App.Service.locResources['AnyType'],
                            value: searchQuery().Type"></select>
                        </th>
                        <th class='sort-th' data-bind="click: sortByProperty.bind($data, 'StoreDate'),
                                       css: {'sort-field': searchQuery().SortProperty() === 'StoreDate'}">
                            <span data-bind="text: App.Service.locResources['StoreDateLabel']"></span>
                            <!--ko if: searchQuery().SortProperty() === 'StoreDate' -->
                            <i class="fas fa-long-arrow-alt-up" data-bind="visible: searchQuery().IsAscending() === true"></i>
                            <i class="fas fa-long-arrow-alt-down" data-bind="visible: searchQuery().IsAscending() === false"></i>
                            <!-- /ko -->
                        </th>
                        <th>
                            <span data-bind="text: App.Service.locResources['OwnerLabel']"></span>
                        </th>
                        <th class='sort-th' data-bind="click: sortByProperty.bind($data, 'Subject'),
                                       css: {'sort-field': searchQuery().SortProperty() === 'Subject'}">
                            <span data-bind="text: App.Service.locResources['SubjectLabel']"></span>
                            <!--ko if: searchQuery().SortProperty() === 'Subject' -->
                            <i class="fas fa-long-arrow-alt-up" data-bind="visible: searchQuery().IsAscending() === true"></i>
                            <i class="fas fa-long-arrow-alt-down" data-bind="visible: searchQuery().IsAscending() === false"></i>
                            <!-- /ko -->
                        </th>
                        <th class='sort-th' data-bind="click: sortByProperty.bind($data, 'Company'),
                                       css: {'sort-field': searchQuery().SortProperty() === 'Company'}">
                            <span data-bind="text: App.Service.locResources['CompanyLabel']"></span>
                            <!--ko if: searchQuery().SortProperty() === 'Company' -->
                            <i class="fas fa-long-arrow-alt-up" data-bind="visible: searchQuery().IsAscending() === true"></i>
                            <i class="fas fa-long-arrow-alt-down" data-bind="visible: searchQuery().IsAscending() === false"></i>
                            <!-- /ko -->
                        </th>
                        <!-- ko if: ((isArchive() || isTrash()) && isAdmin()) || shouldBeActive() -->
                        <th class="aligncenter">
                            <span data-bind="text: App.Service.locResources['ActionsLabel']"></span>
                        </th>
                        <!-- /ko -->
                    </tr>
                </thead>
            <!--ko if: documents().length > 0 -->
                <tbody data-bind="template: {name: 'single-document-template', foreach: documents}"></tbody>
            <!-- /ko -->
            </table>
            <!--ko ifnot: documents().length > 0 -->
            <div class="col-lg-12">
                <h4 class="no-files" data-bind="text: App.Service.locResources['NoFilesTitle']"></h4>
            </div>
            <!-- /ko -->
        </div>

        <div class="row">
            <!--ko if: maxPageNumber() > 1 -->
            <div class="col-lg-12 pagination-wrapper">
                <nav>
                    <ul class="pagination">
                        <li class="page-item" data-bind="css: { 'disabled': searchQuery().PageNumber() == 1 }">
                            <a class="page-link" href="#" tabindex="-1" 
                               data-bind="click: getPrevPage, text: App.Service.locResources['PreviousPageLabel']"></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#" data-bind="text: searchQuery().PageNumber()">
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="page-item" data-bind="css: { 'disabled': searchQuery().PageNumber() == maxPageNumber() }">
                            <a class="page-link" href="#" 
                               data-bind="click: getNextPage, text: App.Service.locResources['NextPageLabel']"></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /ko -->

        </div>

        <div class="row selection-controls">
            <div class="col-lg-12">
                <!-- ko if: shouldBeActive() && documents().length > 0 -->
                <button type="button" class="btn btn-danger"
                        data-bind="click: currentSelection.length > 0
                                              ? $parent.openConfirmModal.bind($parent, 'DeleteSelectionTitle', 'DeleteSelectionQuestion',
                                                      deleteDocuments.bind($data, currentSelection), currentFileCabinet.Name)
                                              : App.Utils.alertInvalidDataError('.general-error-alert', App.Service.locResources['NoSelectionError'])">
                    
                    <span data-bind="text: App.Service.locResources['DeleteSelectedBtn']"></span>
                </button>
                <button type="button" class="btn btn-primary"
                        data-bind="setModalSubmitCallback : {modalSelector: '#export-document-modal', cb: exportDocuments, ctx: $data},
                                   click: currentSelection.length > 0
                                          ? setExportModalData.bind($data, currentSelection)
                                          : App.Utils.alertInvalidDataError('.general-error-alert',App.Service.locResources['NoSelectionError'])">
               
                    <span data-bind="text: App.Service.locResources['ExportSelectedBtn']"></span>
                </button>
                <!-- /ko -->
                <select class="form-control pageElSelect"
                        data-bind="options: App.Config.pageElementsAvailableOptions,
                                       value: searchQuery().ElementsPerPage"></select>
                <label class="elPerPageLabel" data-bind="text: App.Service.locResources['ElPerPage']"></label>
            </div>
            <!-- ko if: shouldBeActive() && documents().length > 0 -->
            <div class="col-lg-3">
                <!-- ko template: {name: 'general-error-template'}-->
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!--ko if: isTrash() && isAdmin() && documents().length > 0 -->
            <div class="col-lg-12">
                <button type="button" class="btn btn-success"
                        data-bind="click: currentSelection.length > 0
                        ? $parent.openConfirmModal.bind($parent, 'RestoreSelectionTitle', 'RestoreSelectionQuestion',
                                                      restoreDeletedDocuments.bind($data, currentSelection), null)
                        : App.Utils.alertInvalidDataError('.general-error-alert', App.Service.locResources['NoSelectionError'])">
                    
                    <span data-bind="text: App.Service.locResources['RestoreSelectedBtn']"></span>
                </button>
            </div>
            <div class="col-lg-3">
                <!-- ko template: {name: 'general-error-template'}-->
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!--ko if: isArchive() && isAdmin() && documents().length > 0 -->
            <div class="col-lg-12">
                <button type="button" class="btn btn-success"
                        data-bind="click: currentSelection.length > 0
                        ? $parent.openConfirmModal.bind($parent, 'RestoreSelectionTitle', 'RestoreSelectionQuestion',
                                                      restoreArchivedDocuments.bind($data, currentSelection), null)
                        : App.Utils.alertInvalidDataError('.general-error-alert', App.Service.locResources['NoSelectionError'])">
                    
                    <span data-bind="text: App.Service.locResources['RestoreSelectedBtn']"></span>
                </button>
            </div>
            <div class="col-lg-3">
                <!-- ko template: {name: 'general-error-template'}-->
                <!-- /ko -->
            </div>
            <!-- /ko -->

        </div>
        <!--ko with: $data-->
        <!-- ko template: {name: 'add-document-template' }-->
        <!-- /ko -->
        <!-- ko template: {name: 'export-document-template' }-->
        <!-- /ko -->
        <!-- ko template: {name: 'view-document-template' }-->
        <!-- /ko -->
        <!-- ko template: {name: 'import-document-template' }-->
        <!-- /ko -->
        <!-- /ko -->
    </div>

</script>

@Html.Partial("Templates/Entries/_SingleDocument")
@Html.Partial("Templates/Modals/_AddDocument")
@Html.Partial("Templates/Modals/_ExportDocument")
@Html.Partial("Templates/Modals/_ImportDocument")
@Html.Partial("Templates/Modals/_ViewDocument")
@Html.Partial("Templates/Modals/_DocInputFields")