﻿<script type="text/html" id="confirm-modal-template">
    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" data-bind="text: modalTitle()"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p data-bind="text: modalText()"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="text: App.Service.locResources['No']"></button>
                    <button type="button" class="btn btn-primary" id="submit" data-dismiss="modal"
                            data-bind="click: modalCb(), text: App.Service.locResources['Yes']"></button>
                </div>
            </div>
        </div>
    </div>
</script>

